*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header style start */
header{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0 10px 20px lightgray;
}
header:hover{
    border: 2px solid #00BAFC;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    text-align: center;
}
.menu>li{
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height: 160%;
}
.menu>li:hover{
    color: #00BAFC;
    font-size: 20px;
}
.menu>li>button{
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #00BAFC;
    color: white;
    border: none;
}
.menu>li>button:hover{
    background-color: white;
    color: #00BAFC;
    border: 2px solid #00BAFC;
} 
.section1_item1{
    width: 30%;
}
/* Section1 style start */
.section1{
    display: flex;
    width: 100%;
    height: 418px;
    justify-content: space-around;
    padding: 100px 0;
}
.section1_item1>h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
}
.section1_item1>h1:hover{
    font-size: 40px;
    color: #4fbae2;
}
.section1_item1>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
}
.section1_item1>button{
    padding: 8px 16px;
    background-color: #00BAFC;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
}
.section1_item1>button:hover{
    background-color: white;
    color: #00BAFC;
    border: 3px solid #00BAFC;
}

/* Section2 - ga style start */
.section2{
    width: 100%;
    height: 880px;
}
.section2>h1{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    padding-top: 50px;
}
.section2>h1:hover{
    font-size: 35px;
}
.section2>p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
/* Cards-ga style */
/* .cards{
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 30px 0;
    max-width: 1200px;
    margin: 50px auto;
} */
 .threeCard{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
 }
 .twoCard{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
 }
.threeCard>div{
    width: 320px;
    height: 260px;
    box-shadow: 3px 5px 10px lightgray;
    padding: 24px;
    border-radius: 5px;
}
.twoCard>div{
     width: 320px;
    height: 260px;
    box-shadow: 3px 5px 10px lightgray;
    padding: 24px;
    border-radius: 5px;
}
.threeCard>div:hover{
    border: 3px solid rgb(101, 136, 225);
}
.twoCard>div:hover{
    border: 3px solid rgb(101, 136, 225);
}

/* Card ichidagi p bilan h1-ga style */
.threeCard>div>h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    text-align: center;
}
.twoCard>div>h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    text-align: center;
}
.threeCard>div>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}
.twoCard>div>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}

/* Card ichidagi img-larga width, height  */
.card1>img{
    width: 203px;
    height: 130px;
    margin: 10px 35px;
}
.card2>img{
    width: 222px;
    height: 130px;
    margin: 10px 35px;
}
.card3>img{
    width: 176px;
    height: 130px;
    margin: 10px 35px;
}
.card4>img{
    width: 178px;
    height: 130px;
    margin: 10px 35px;
}
.card5>img{
    width: 169px;
    height: 130px;
    margin: 10px 35px;
}
/* Section2 button style */
.section2_button{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}
.section2_button>button{
   padding: 10px 25px;
   background-color: #00BAFC;
   color: white;
   border-radius: 5px;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   border: none;
}
.section2_button>button:hover{
    background-color: white;
    color: #00BAFC;
    border: 3px solid #00BAFC;
}
.section2_button>a{
    color: #00BAFC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
}

/* Section3 style start */
.section3{
    width: 100%;
    height: 1676px;
}
.section3>h1{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
    color: #000000;
    padding-top: 45px;
}
.section3>h1:hover{
    font-size: 35px;
}
.section3>p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    padding-top: 5px;
}
.section3>p:hover{
    font-size: 23px;
}

/* Bozlarga style start */
.section3_box1{
    width: 832px;
    height: 278px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    box-shadow: 3px 5px 10px rgb(225, 222, 222);
    padding: 5px;
    gap: 10px;
}
.section3_box2{
    width: 823px;
    height: 225px;
    display: flex;
    margin: 50px auto;
    padding: 5px;
    box-shadow: 3px 5px 10px rgb(225, 222, 222);
}
.section3_box3{
    width: 823px;
    height: 259px;
    display: flex;
    margin: 50px auto;
    box-shadow: 3px 5px 10px rgb(225, 222, 222);
    padding: 5px;
}
.section3_box4{
    width: 823px;
    height: 171px;
    display: flex;
    margin: 50px auto;
    box-shadow: 3px 5px 10px rgb(225, 222, 222);
    padding: 5px;
}
.section3_box5{
    width: 823px;
    height: 232px;
    display: flex;
    margin: 50px auto;
    box-shadow: 3px 5px 10px rgb(225, 222, 222);
    padding: 5px;
}
.section3_box1:hover{
    border: 3px solid rgb(146, 146, 232);
}
.section3_box2:hover{
    border: 3px solid rgb(146, 146, 232);
}
.section3_box3:hover{
    border: 3px solid rgb(146, 146, 232);
}
.section3_box4:hover{
    border: 3px solid rgb(146, 146, 232);
}
.section3_box5:hover{
    border: 3px solid rgb(146, 146, 232);
}
.boxs>div>div>h1{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    line-height: 130%;
    text-align: center;
    padding-top: 90px;
}
.boxs>div>div>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-align: center;
}
.section3>button{
    background-color: #00BAFC;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 620px;
    margin-top: 20px;
}
.section3>button:hover{
    background-color: white;
    color: #00BAFC;
    border: 3px solid #00BAFC;
}

/* Section4 style start */
.section4{
    width: 100%;
    height: 543px;
    background-color: #00BAFC;
}
.section4>h1{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 700;
    line-height: 130%;
    padding-top: 50px;
}
.section4>h1:hover{
    font-size: 45px;
}
.section4>p{
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 150%;
    text-align: center;
    padding-top: 15px;
}
.section4>form{
    width: 348px;
    height: 320px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgb(192, 190, 190);
    margin-top: 30px;
    margin-left: 560px;
    padding: 16px;
}
.section4>form:hover{
    border: 3px solid rgb(126, 126, 243);
}
.section4>form>input{
    width: 300px;
    height: 56px;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid #D2D2D2;
}
.section4>form>select{
    width: 300px;
    height: 56px;
    border: 3px solid #D2D2D2;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 10px;
}
.section4>form>button{
    padding: 10px 20px;
    background-color: #00BAFC;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 70px;
}
.section4>form>button:hover{
    background-color: white;
    border: 3px solid rgb(137, 137, 231);
    color: #00BAFC;
}
